.customImage {
  overflow-y: scroll;
}
.tags_popup {
  position: fixed;
  bottom: 50px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  background: green;
}
.tags_popup button {
  border: 2px solid #fff;
  background: green;
  color: #fff;
  font-size: 15px;
  padding: 10px 12px;
  cursor: pointer;
}
.uploadMsg {
  position: fixed;
  bottom: -100px;
  border: 2px solid #fff;
  background: green;
  color: #fff;
  left: 50vw;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  transition: all ease 1s;
}
.uploadActive{
    bottom: 100px;
    transition: all ease .5s;
    
}